<div class="row form-group">
	<label for="enrollTimeout" class="col-md-3">Enroll Timeout</label>		
	<input type="text" class="col-md-6" name="enrollTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.enrollTimeout" 
		></input>
</div>
<div class="row form-group">
	<label for="deenrollTimeout" class="col-md-3">Deenroll Timeout</label>		
	<input type="text" class="col-md-6" name="deenrollTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.deenrollTimeout" 
		></input>
</div>
<div class="row form-group">
	<label for="discoveryTimeout" class="col-md-3">Discovery Timeout</label>		
	<input type="text" class="col-md-6" name="discoveryTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.discoveryTimeout"></input>
</div>
<div class="row form-group">
	<label for="discoveryByRangeTimeout" class="col-md-3">Discovery By Range Timeout</label>		
	<input type="text" class="col-md-6" name="discoveryByRangeTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.discoveryByRangeTimeout"></input>
</div>
<div class="row form-group">
	<label for="pushNamesTimeout" class="col-md-3">Push Names Timeout</label>		
	<input type="text" class="col-md-6" name="pushNamesTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.pushNamesTimeout"></input>
</div>
<div class="row form-group">
	<label for="pullFileTimeout" class="col-md-3">Pull File Timeout</label>		
	<input type="text" class="col-md-6" name="pullFileTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.pullFileTimeout"></input>
</div>
<div class="row form-group">
	<label for="pushFileTimeout" class="col-md-3">Push File Timeout</label>		
	<input type="text" class="col-md-6" name="pushFileTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.pushFileTimeout"></input>
</div>
<div class="row form-group">
	<label for="getDataTimeout" class="col-md-3">Get Data Timeout</label>		
	<input type="text" class="col-md-6" name="getDataTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.getDataTimeout"></input>
</div>
<div class="row form-group">
	<label for="getExtendedDataTimeout" class="col-md-3">Get Extended Data Timeout</label>		
	<input type="text" class="col-md-6" name="getExtendedDataTimeout"
		ng-model="nmmAnswers.configManagementInterfaceSection.getExtendedDataTimeout"></input>
</div>