<div class="row form-group">
	<label for="getStatusInformationTimeout" class="col-md-3">Status Information Timeout</label>		
	<input type="text" class="col-md-6" name="getStatusInformationTimeout"
		ng-model="nmmMappings.faultManagementInterfaceSection.getStatusInformationTimeout" 
		></input>
</div>
<div class="row form-group">
	<label for="getSessionInformationTimeout" class="col-md-3">Session Information Timeout</label>		
	<input type="text" class="col-md-6" name="getSessionInformationTimeout"
		ng-model="nmmMappings.faultManagementInterfaceSection.getSessionInformationTimeout" 
		></input>
</div>
<div class="row form-group">
	<label for="disconnectSessionTimeout" class="col-md-3">Disconnect Session Timeout</label>		
	<input type="text" class="col-md-6" name="disconnectSessionTimeout"
		ng-model="nmmMappings.faultManagementInterfaceSection.disconnectSessionTimeout" 
		></input>
</div>