<div class="row form-group">
	<label for="helpKey" class="col-md-3">Key <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="helpKey"
		ng-model="nmmMappings.helpSection.key" ng-required="required"
		required="required"></input>
</div>
<div class="row form-group">
	<label for="helpDescription" class="col-md-3">Description <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="helpDescription"
		ng-model="nmmMappings.helpSection.description" ng-required="required"
		required="required"></input>
</div>
<div class="row form-group">
	<label for="helpLabel" class="col-md-3">Label <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="helpLabel"
		ng-model="nmmMappings.helpSection.label" ng-required="required"
		required="required"></input>
</div>
<div class="row form-group">
	<label for="helpIndex" class="col-md-3">Index <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="helpIndex"
		ng-model="nmmMappings.helpSection.index" ng-required="required"
		required="required"></input>
</div>
<div class="row form-group">
	<label for="helpVersion" class="col-md-3">Version <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="helpVersion"
		ng-model="nmmMappings.helpSection.version" ng-required="required"
		required="required"></input>
</div>