<div class="row form-group">
	<label for="performOperationTimeout" class="col-md-3">Perform Operation Timeout <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="performOperationTimeout"
		ng-model="nmmMappings.operationInterfaceSection.performOperationTimeout"
		ng-required="required"
		required="required"></input>
</div>
<div class="row form-group">
	<label for="performOperationTimeoutWithStatus" class="col-md-3">Perform Operation with Status Timeout <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="performOperationTimeoutWithStatus"
		ng-model="nmmMappings.operationInterfaceSection.performOperationTimeoutWithStatus" 
		ng-required="required"
		required="required"></input>
</div>