<div class="apg-dashboard-tab" ng-controller="InProgressProjectCtrl">
	<form name="inProgressForm">
		<table class="table table-striped table-hover table-condensed"
      			st-table="partialProjects"  st-safe-src="rowCollection">
			<thead>
				<tr>
					<th st-sort="name">Project Name</th>
					<th st-sort="type">Project Type</th>
				 	<th st-sort="createdDate">Date Created</th>
               		<th st-sort="lastModified">Date Modified</th>
               		<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in partialProjects">
					<td>{{row.name}}</td>
					<td>{{row.type}}</td>
					<td>{{row.createdDateFormatted | date: 'medium' }}</td>
					<td>{{row.lastModified | date: 'medium'}}</td>
					<td class="form-group">
						<input type="submit" value="Edit" ng-click="open(row)"
								class="btn btn-success"/>
						<input type="submit" value="Delete"
								ng-click="delete(row);"  class="btn btn-danger" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>