<div class="row form-group">
	<label for="pluginName" class="col-md-3">Plugin Name <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="pluginName"
		ng-model="trapsMapping.pluginName" ng-required="required"
		required="required"></input>
</div>
<div class="row form-group">
	<label for="enterpriseOID" class="col-md-3">Enterprise OID <span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="enterpriseOID"
		ng-model="trapsMapping.enterpriseOID" ng-required="required"
		required="required"></input>
</div>
<div class="row form-group">
	<label for="trapMIBBase" class="col-md-3">Trap MIB Base<span style="color: red"> *</span></label>		
	<input type="text" class="col-md-6" name="trapMIBBase"
		ng-model="trapsMapping.trapMIBBase" ng-required="required"
		required="required"></input>
</div>