<div ng-controller="OBWICtrl">
   <accordion close-others="true">
      <accordion-group class="panel-primary" heading="OBWI Details" is-open="true">
         <section class="panel">
	         <div class="row" style="padding: 10px;">
	            <label for="obwi" class="col-md-3">URL Configuration</label> <input
	               name="obwi" ng-model="obwiMapping.urlconfiguration" type="text"
	               class="col-md-6" />
	         </div>
	         <footer style="padding: 10px">
	            <i>Note:</i>Only specify the URL part after the IP address. For
	            example: /login.html?devId=0
	         </footer>
         </section>
      </accordion-group>
   </accordion>
   <div style="float: right; right: 20px; bottom: 540px;">
      <button class="btn btn-primary" ng-click="save()">Save</button>
   </div>
</div>
