<div class="modal-header">
	<h4 style="color:white" class="text-center">Upload Resource Bundle</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">		
		    <form name="UploadResourceBundleForm" ng-submit="upload(bundle)" novalidate>
		    	<div class="form-group">   			
                   <input type="file" ngf-select ng-model="bundle"
                        name="file" ng-required="true"  ngf-validate-fn="validate($file)">
                </div>        
                <button type="submit" class="btn btn-primary"
                        ng-disabled="!bundle || UploadResourceBundleForm.$invalid">Upload</button>
            </form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-warning" ng-click="cancel()">Close</button>
</div>